cheeza-common/src/main/resources/META-INF/cheeza-rpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.gtja.com/schema/cheeza" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://www.gtja.com/schema/cheeza">

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the CheezaRpc Service Framework ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="provider">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务提供者配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="interface" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 接口名称 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ref" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 接口实现类 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务执行超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>